@import "_reset.css";

body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

canvas#game {
    border: 4px solid #333;
    max-width: 100%;
    width: 100%;
    background-color: cornflowerblue;
}